/*
Lab 11: Form Layout
Group:C
1. Name: [Mohamad Shahirul Amin Bin Mohamed Jaffar], Matrix No: [SX220876ECJHS03], Github ID: [shahirul22]
2. Name: [Aisyah Umairah Binti Azmir], Matrix No: [SX222133ECJHF03], Github ID: [aisyahumairah]
3. Name: [Nur Aliaa Binti Mohd Arif], Matrix No: [Matrix Number], Github ID: [alizan00]
4. Name: [Zaidi Bin Ahmad], Matrix No: [SX222136ECJHF03], Github ID: [zydy82]
*/

* {
    box-sizing: border-box;
}

body {
    background-image: url(mal2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.container {
    background-color: #97c812;
    width: 600px;
    flex-direction: column;
    margin: auto;
}

.header {
    text-align: center;
    color: white;
   padding-top: 5px;
}

#title {
font-family: Arial, Helvetica, sans-serif;
font-size: 18pt;
margin-top: 15px;
margin-bottom: 5px;
}

#description {
font-family: Arial, Helvetica, sans-serif;
font-size: 9pt;
font-style: italic;
margin-bottom: 5px;
margin-top: 5px;
}

.description-text-center {
margin-top: 0px;
}

#survey-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #373c3b;
    margin-right: 70px;
    margin-left: 70px;
}

.form-control {
    display: block;
    width: 440px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

label {
    margin-top: 5px;
    margin-left: 10px;
    color: white;
}

p {
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 15px;
    color: white;
}

.input-radio {
    display: inline-block;
}

label {
    display: block;
}

.input-textarea {
    width: 440px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.submit-button {
    width: 440px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #02a147;
    color: white;
    border: none;
}






