.container {
    border: 2px solid black;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 450px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    padding: 15px;
    margin:auto;
}

.button {
    height: 65px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid black;
    background-color: whitesmoke;
    font-size: 30px;
    color:black;
}

.button:hover {
    background-color:wheat ;
}

.operator {
    color: black;
    background-color:lemonchiffon;
}

.clear {
    background-color: lightgoldenrodyellow;
    border-color: black;
    color: black;
    width: 90px;
    height: 30px;  
}

.clear:hover {
    background-color: wheat;
}

.equal-sign {
    background-color: #5296b3;
    border-color: black;
    color:black;
}

.equal-sign:hover {
    background-color: wheat;
}

.screen{
    background-color:powderblue;
    justify-content: left;
    color: black;
    font-size: medium;
    width: 50%;
    height: 40%;
    cursor: default;
    padding: 10px; 
    padding-left: 40%;
    margin: auto;
    margin-bottom: 10px;
}