h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    text-align: center;
}

table{
    border: 1px solid;
}

td{
    border: 1px solid;
}

.txtInput{
    width: 95%;
    height: 70%;
    padding: 1;
    margin: 1;
    border: 1;
}

.txtBetweenLine{
    background-color: white;
    float: left;
    position: absolute;
}

#blueLine{
    width: fit-content;
    height: fit-content;
    border: 1px blue solid;
    margin: 0 auto;
}

.greyLine{
    text-align: left;
    padding: 15px;
    border: 1px gray solid;
    width: fit-content;
    height: fit-content;
    margin: 15px;
}